{% extends "field/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <img src="{% static '/images/TDI_Profile.jpg'%}" class="rounded float-left" alt="Responsive image" width=15% style="float: left; margin: 0px 15px 15px 0px;">I am a mathematically and statistically minded data scientist with a strong background in life sciences including genetics. I gained experience with large data through managing, analyzing, and querying a 6 GB PSQL database for a United States Senate race. 
  <br><br>
  This project draws on my knowledge of both computer science and agriculture to put together a useful tool for obtaining information on a specific agriculural field. Eventually, I hope to expand this to the county, state, and national levels as well.
  <br><br>
  In addition to agriculture and computer science, I also enjoy gardening, macro-photograpy, and fly fishing and fly tying.
</div>
{% endblock %}