{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>AgField</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png'%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png'%}">
  <link rel="manifest" href="{% static '/favicon/site.webmanifest'%}">
  <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg" color="#377b0f">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
  <style type="text/css">
    #map { top:0; bottom:0; width:100%; }

    .vbottom{
      float: none;
      display: table-cell;
      vertical-align: bottom;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-1 vbottom">
      <a href="/" class="logo_small">
        <img src="{% static 'logo_small.png'%}" style="max-width: 5vw; padding: 5px 0px;">
      </a>
    </div>
    <div class="col-md-7 text-left vbottom">
      <h1 style="font-family: verdana; font-size: 3.5em;">AgField</h1>
    </div>
    <div class="col-md-4 text-right vbottom">
      <i style="font-size: 2em; bottom: 0;">Field data from a map click!</i>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/about/"><span class="glyphicon glyphicon-user"></span> About the Author</a>
      </li>
  </div>
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>

</body>
</html>
