{% extends "field/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <h2>Introduction</h2>
  <p>Currently finds a field based on a mouse click and returns percipitation for that area. 
  Eventually will incoporated information for yield prediction.</p>
  <h2>Instructions</h2>
  <ul>
    <li>Search for location via the search.</li>
    <li>Zoom to field, so field is at least 1/4 of map height.</li>
    <li>Click near center.</li>
  </ul>
  <p>This is still a work in progress. The current model is heuristic.
    Next step is to capture training data and train a convolutional neural network.</p>
  <p>Notes:
    <ul>
      <li>Currently only finds field.</li>
      <li>Dark fields are not working.</li>
      <li>Click location and zoom level effect polygon fit.</li>
  </ul></p>
</div>
<div class="row">
  <hr>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
  <style>
  .coordinates {
      background: rgba(0,0,0,0.5);
      color: #fff;
      position: relative;
      bottom: 80px;
      left: 10px;
      padding:5px 10px;
      margin: 0;
      font-size: 11px;
      line-height: 18px;
      border-radius: 3px;
      display: none;
  }
  </style>
  <div id='map' style='width: 100%; height: 500px;'></div>
  <form id='map_form' action="." method="post">
    {% csrf_token %}
    <pre id='coordinates' class='coordinates'></pre>
    <hr>
    <div class="form-inline form-group mb-2" style="display:none" id="data">
      <label for="start_date" class="mb-2">Start date:</label>
      <input type='text' class='form-control mb-2' id='start_date' name='start_date' value = ''/>
      <label for="end_date" class="mb-2">End date:</label>
      <input type='text' class='form-control mb-2' id='end_date' name='end_date' value=''/>
      <!-- <input type='button' class="btn btn-primary mb-2" id='update_date' name='update_date' value='Update'/> -->
    </div>
    <div class="form-group" style="display:none">
      <input type='hidden' id='coordinates_hidden' name='coordinates_hidden' value = ''/>
      <input type='hidden' id='image' name='image' value=''/>
    </div>
    <div class='graphs' id="precipitation"></div>
    <div class='graphs' id="gdd"></div>
    <div class='graphs' id="cdd"></div>
    <script type="text/javascript">
      var mapbox_key = "{{ mapbox_key }}";
    </script>
    <script type="text/javascript" src="{% static '/js/index.js'%}" defer=""></script>
  </form>
</div>
{% endblock %}