{% extends "field/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <h2>Step 5:</h2>
  <p>Use masking rings to do a light search for fiding edges to build polygon.</p>
  <hr>
  <video width='600' autoplay controls loop>
    <source src="{% static '/images/lidar.mp4'%}" type="video/mp4" />
    <source src="{% static '/images/lidar.ogg'%}" type="video/ogg" />
    Your browser does not support the video tag.
  </video>
  <hr>
  <img src="{% static '/images/test_img1_lidar.png'%}">
  <hr>
  <img src="{% static '/images/test_img2_lidar.png'%}">
</div>
{% endblock %}